.searchbox-container {
  text-align: center;
}

input#searchbox {
  outline: none;
  height: 20px;
  margin-top: 60px;
  width: 430px;
  padding: 2px;
  padding-left: 11px;
  border-radius: 27px;
  border-width: thin;
  margin-right: -60px;
}

input [type="text"] {
  padding: 30px !important;
}

button#searchbox-button {
  width: 60px;
}

::placeholder {
  padding: 10px;
}
@media screen and (max-width: 650px) {
  input#searchbox {
    width: 200px;
    font-size: 10px;
  }
}


@media (max-width: 1024px) {
  input#searchbox {
   
    height: 15px;
  }
  button#searchbox-button {
    height: 22px;
  }
}

@media (max-width: 768px ){
input#searchbox {
    
    height: 15px;
    width: 255px;
}
}
/* CSS */
.button-18 {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 15px;
  max-width: 480px;
  height: 28px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
